html{
  overflow-x:hidden;
  height: 100%;
}

body{
  perspective: 6px;
  overflow-x: hidden;
  height: 100%;
}

header {
  position: relative;
}

header h1 {
  text-shadow: 5px 5 px #000;
}


.palavras-home{
  perspective: 6px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100;
}
.palavras-home li{
  font-size: 400%;
}
.palavra-home{
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  color: #D5447E
}

.titulo-principal {
    background-image: linear-gradient(to bottom, #F00, #000);
    background-attachment: fixed;
}

.palavras-home,
.titulo-principal {
  transform-style: preserve-3d;
}

.titulo-principal-twitter{
  list-style: none;
  text-decoration: none;
  border: groove;
  border-width: 3px;
  display: inline-block;
  position: absolute;
  font-size: 1.7em;
  background: dimgrey;
  padding: 0px 112px;
  color: white;
  transform-origin: 0.0;
  transform: rotate(45deg) translate(2.6em,-6.8em);
  top: 0;
  right: 0;

}
.eficiencia {
    transform: translate(-10%, 40%) rotate(10deg) translateZ(2px) scale(0.25);
}

.boas-praticas {
    transform: translate(20%, 8%) rotate(10deg) translateZ(1px) scale(0.25);
}
.codigo-limpo {
    transform: translate(12%, 0%) rotate(-10deg) translateZ(2px) scale(0.25);
  }

.css3 {
   transform: translate(-20%, -181%) rotate(5deg) translateZ(2px) scale(0.25);
}

.html5 {
   transform: translate(19%, -346%) rotate(10deg) translateZ(2px) scale(0.25);
}
.javascript {
    transform: translate(-19%, -290%) rotate(-5deg) translateZ(1px) scale(0.25);
}
.acessibilidade {
    transform: translate(7%, -533%) rotate(-5deg) translateZ(3px) scale(0.25);
}
.responsivo {
    transform: translate(-19%, -633%) rotate(10deg) translateZ(3px) scale(0.25);
}
.otimizacoes {
    transform: translate(-12%, -675%) rotate(-5deg) translateZ(2px) scale(0.25);
}
.agilidade {
    transform: translate(-31%, -736%) rotate(5deg) translateZ(1px) scale(0.25);
}
.design {
    transform: translate(24%, -823%) rotate(10deg) translateZ(2px) scale(0.25);
}

.foto-home {
    height: 200px;
    -moz-border-radius: 10% 50% / 50% 10%;
    border-radius: 10% 50% / 50% 10%;
    /* box-shadow: 0px 10px black,7px 10px black,-7px 7px black,-6px -10px black,-10px 13px white,11px 15px white,-7px 15px white,-10px -13px white,0px -14px red,20px 24px red,-15px 24px red,-15px -19px red;
*/
    box-shadow: 0 0 0 4px transparent,0 0 0 4px black,0 0 0 7px rgba(11,123,123,1),0 0 0 12px black,0 0 0 16px white,0 0 0 21px black;
    box-shadow: 0 0 0 4px transparent,0 0 0 4px black,0 0 0 7px rgb(133, 25, 68),0 0 0 12px black,0 0 0 16px #851944,0 0 0 21px black;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: rotate(-5deg) skew(-15deg);
    text-shadow: 3px 3px 0.1em rgba(255, 51, 51, 0.94);
}

.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio {
    padding: 2em;
    position:relative;
}

.inicio-pot{
  position: absolute;
  top:3em;
  left:30%;
  background-color: #F2FFFC;
  color:#000;
  display: inline-block;
  height:7em;
  padding: 1.5em;
  width:40%;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    background-image: linear-gradient(45deg, transparent,transparent 14px ,rgba(0,0,0,0.1) 14px,rgba(0,0,0,0.1) 15px,transparent 15px,transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}


.face {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.frente {
  background-color: red;
  transform: translateZ(100px);
}
.direita {
  background-color: blue;
  transform: translateX(100px) rotateY(90deg);
}
.esquerda {
  background-color: green;
  transform: translateX(-100px) rotateY(-90deg);
}
.cima {
  background-color: yellow;
  transform: translateY(100px) rotateX(90deg);
}
.baixo {
  background-color: magenta;
  transform: translateY(-100px) rotateX(-90deg);
}
.tras {
  background-color: cyan;
  transform: translateZ(-100px) rotateY(180deg);
}
.cubo {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotateX(10deg) rotateY(100deg);
}

.cubo2 {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  left: 0px;
  transform: rotateX(10deg) rotateY(100deg);
}

.sobreposicao {
    background-color: rgba(0,0,0,0.4);
    height: 1000%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
}

.sobreposicao-message {
    width: 477px;
    background-color: white;
    height: 201px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 245px;
    left: 33%;
    box-shadow: 0 0 2.9em 40px black;
    box-sizing: border-box;
    border-radius: 23px;
}

.sobreposicao-message-texto {
    text-align: center;
    padding: 6%;
    color: cornflowerblue;
    font-size: larger;
    text-shadow: 1px 1px 0 1px black;
}
